body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

header {
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
}

section {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;

}

.usuarios {
    color: grey;
}

button {
    color: white;
    background-color: black;
    text-align: center;
    height: 32px;
    width: 172px;
    border: 2px solid white;
    border-radius: 10px;
}

#botao {
    text-align: center;
}



.container {
    width: 1000px;
    list-style: none;
    display: flex;
    text-align: center;
    margin-block: 100px;
    margin-left: 13%;
    justify-content: space-between;
}

.usuarios img {
    width: 200px;
    border-radius: 10px;
}


.imagens-usuarios {
    border: 1px solid black;
}

.imagens-usuarios:hover {
    border: 1px solid white;
}



#div-aline:hover #aline {
    color: white;
}

#div-pedrinho:hover #pedrinho {
    color: white;
}

#div-julia:hover #julia {
    color: white;
}

#div-plus:hover #plus {
    color: white;
}

button:hover {
    color: black;
    background-color: white
}